<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Jenkins in a Docker that will create other Docker in the dind Docker in order to unit test our computer database project.  </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.17.1">
      <projectUrl>https://github.com/Thuranos/Computer_Database.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/Thuranos/Computer_Database.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.17.1">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>docker pull rlarroque/cdb_ut
docker pull rlarroque/cdb_db

#Stop existing containers
for container_id in $(docker ps --filter="name=cdb_ut" -q);
do docker stop $container_id;
done

for container_id in $(docker ps --filter="name=cdb_db" -q);
do docker stop $container_id;
done

#If db container doesn'tcd  already exist, create it
if ! [ -e $(docker ps -aq -f "cdb_db") ]
then 
	docker create --name=cdb_db -e MYSQL_ROOT_PASSWORD=qwerty1234 rlarroque/cdb_db
fi

#Start db test and wait a bit cause mySQL is slow as f*ck
docker start cdb_db
sleep 5

#If ut container doesn't already exist, create it
if ! [ -e $(docker ps -aq -f "cdb_ut") ]
then 
	docker create --name cdb_ut --link cdb_db rlarroque/cdb_ut
fi

#Copy the workspace to test in the previously created container and override the database.properties
docker cp /var/jenkins_home/jobs/cdb-jenkins/workspace/ cdb_ut:/opt/test
docker cp /opt/database.properties cdb_ut:/opt/test/computer_database/src/test/resources/database.properties

#Start the unit test container
docker start -a cdb_ut
docker stop cdb_db

#Retrieve the war and deploy it
docker cp cdb_ut:/opt/test/computer_database/target/computer_database.war /opt/deployment/webapp.war
docker build -t rlarroque/cdb_webapp /opt/deployment
docker push rlarroque/cdb_webapp

bash /opt/deployment/glazer-deploy.sh --host 192.168.10.225 --port 65000 --env MYSQL_ROOT_PASSWORD=qwerty1234 rlarroque_cdb_db rlarroque/cdb_db_prod
bash /opt/deployment/glazer-deploy.sh --host 192.168.10.225 --port 65000 --link rlarroque_cdb_db:localhost --publish 65175:8080 rlarroque_cdb_webapp rlarroque/cdb_webapp

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
